@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700&display=swap');

body {
    margin: 0;
    font-family: 'Nunito', sans-serif;
    /* optional */
}

.bg-dark {
    color: white;
    background-color: #0F0F0F;
}

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px #171717 inset;
    /* bg dark */
    -webkit-text-fill-color: white;
    /* màu chữ */
    transition: background-color 5000s ease-in-out 0s;
    /* tránh nháy */
}

/* Light theme */
/* Light theme (mặc định) */
input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px white inset;
    -webkit-text-fill-color: black;
    transition: background-color 5000s ease-in-out 0s;
}

input:-webkit-autofill:focus {
    -webkit-box-shadow: 0 0 0px 1000px white inset;
    -webkit-text-fill-color: black;
}

/* Dark theme */
.dark input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px #171717 inset;
    -webkit-text-fill-color: white;
}

.dark input:-webkit-autofill:focus {
    -webkit-box-shadow: 0 0 0px 1000px #171717 inset;
    -webkit-text-fill-color: white;
}



input:-webkit-autofill:focus {
    -webkit-box-shadow: 0 0 0px 1000px #171717 inset;
    -webkit-text-fill-color: white;
}

.loading {
    animation: loading .8s ease-in-out infinite;
}

.loading:nth-child(1) {
    animation-delay: 0s;
}

.loading:nth-child(2) {
    animation-delay: 0.2s;
}

.loading:nth-child(3) {
    animation-delay: 0.4s;
}


@keyframes loading {

    0%,
    100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-6px);
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.fadeIn {
    animation: fadeIn 0.5s ease-in forwards;
}

@keyframes fadeUp {
    from {
        opacity: 0;
        transform: translateY(30px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.fadeUp {
    animation: fadeUp 0.5s ease-out forwards;
}

@keyframes fadeDown {
    from {
        opacity: 0;
        transform: translateY(-30px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.fadeDown {
    animation: fadeDown 0.5s ease-out forwards;
}